/* Normalizing */
body{
    margin: auto 0;
    display: block;
}

/* HEADER SECTION */


.navbar{
    display: flex;
    height: 5vh;
    align-items: center;
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem;
    list-style: none;
}


.nav-item {
    margin: 0rem 1rem;
}
.nav-item > a {
    color: azure;
    text-decoration: none;
}
.nav-item:last-child {
    margin-left: auto;
}







/* COVER SECTION */

.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}






/* PROJECT GRID */

.container {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-rows: 1fr;
    grid-auto-flow: dense;
}
.box {
    display: flex;
    background-color: rgb(57, 28, 80);
    padding: 5rem;
    /* justify-self: center; */
    justify-content: center;
}
.box > img {
    width: 5rem;
}







/* FOOTER */
.footer {
    display: flex;
    height: 25vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}




/* Pre-built CSS */

.zone {
    cursor: pointer;
    color: #FFF;
    font-size: 2em;
    /* border-radius: 4px; */
    border: 1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}
.green {
    background: #56B870;
    /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56B870), color-stop(100%, #a5c956));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%, #a5c956 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%, #a5c956 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%, #a5c956 100%);
    /* IE10+ */
    background: linear-gradient(top, #56B870 0%, #a5c956 100%);
    /* W3C */
}
.red {
    background: #C655BE;
    /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C655BE), color-stop(100%, #cf0404));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%, #cf0404 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%, #cf0404 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%, #cf0404 100%);
    /* IE10+ */
    background: linear-gradient(top, #C655BE 0%, #cf0404 100%);
    /* W3C */
}
.yellow {
    background: #F3AAAA;
    /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F3AAAA), color-stop(100%, #febf04));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    /* W3C */
}
.blue {
    background: #7abcff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7abcff), color-stop(44%, #60abf8), color-stop(100%, #4096ee));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* IE10+ */
    background: linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* W3C */
}




/*

@media screen and (max-width:768px) {
    .navbar{
        display: flex;
        flex-direction: column;
    }
} 



*/